# Compiled
__pycache__/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
sdist/
wheels/
*.egg-info/

# Packages
node_modules/
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# pyenv
.python-version

# Mac files
.DS_Store
